.previous{
  display: flex;
  .pre{
    width: 70px;
    text-align: center;
    margin-right: 10px;
    border-radius: 3px;
    border: none;
    background-color: antiquewhite;
    &:hover{
      cursor: pointer;
    }
  }
}