@import "../../../../assets/scss/app.scss";

.overview-category {
  position: relative;
  padding: 60px 40px;

  .btn-add {
    position: absolute;
    top: 70px;
    right: 70px;
  }

  .main {
    margin-top: 20px;
    .btn-recover{
      width: 40px;
      background-color: white;
      border: 1px solid #90b58e;
      border-radius: 50%;
      &:hover{
        background-color: rgb(144, 205, 175);
      }
      img{
        width: 40px;
      }
    }
  }
  button{
    margin-left: 5px;
    
  }
}
