@import "../../../../assets/scss/app.scss";

.overview-category {
  position: relative;
  padding: 60px 40px;

  .btn-add {
    position: absolute;
    top: 70px;
    right: 70px;
  }

  .main {
    margin-top: 20px;
    .image-tour{
      height: 50px;
      &:hover{
        transform: scale(5);
        transition: all .2s ease-in-out;
      }
    }
  }
  button{
    margin-left: 5px;
  }
}
