.chart-sales{
  margin-top: 20px;
  text-align: center;
  .select{
    width: 100px;
    border: 1px solid  #3acce3;
    background-color: unset;
    height: 30px;
    color: #3acce3;
    font-size: 18px;
    padding: 3px;
    border-radius: 3px;
  }
}
