.search{
    input{
        height: 38px;
       margin-bottom: 0;
       border: 2px solid rgb(146, 146, 149);
       border-radius: 5px;
       min-width: 400px;
    }
    button{
        margin-bottom: 5px;
    }
}