@import "../../../../assets/scss/app.scss";

.overview-tour-admin {
  position: relative;
  padding: 60px 40px;

  .header-ctn{
    display: flex;
    justify-content: space-between;
  }
  .btn-add {
    position: absolute;
    top: 70px;
    right: 70px;
  }

  .main {
    margin-top: 20px;
    .image-tour{
      height: 50px;
      &:hover{
        transform: scale(5);
        transition: all .2s ease-in-out;
      }
    }
    .btn-delete{
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 50%;
      border: 2px solid #66a1ee;
      cursor: pointer;
      .delete{
        width: 95%;
        border-radius: 15px;
      }
      &:hover{
        border: 1px solid #197cfe;
      }
    }
    .btn-accept{
      width: 40px;
      border-radius: 50%;
      border: none;
      img{
        border-radius: 50%;
      }
    }
  }
  button{
    margin-left: 5px;
  }
}
